extends layout

block content
  h1 Welcome to Maestroo
  h2 This bot can connect to a Wejay room and add songs that the current logged in users usyally plays.

  a(href="http://wejay.itea.md") Read more about Wejay

