doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='import', href='bower_components/spotify-previewbutton/index.html')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/angular-material/themes/pink-theme.css')
  body(ng-app='Maestroo', md-theme='pink')

    md-toolbar(md-scroll-shrink)
      div.md-toolbar-tools
        h3 
          span Maestroo

    md-content.md-padding
      block content

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-aria/angular-aria.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/hammerjs/hammer.js')
    script(src='/bower_components/angular-material/angular-material.js')


    script.
        angular.module( 'Maestroo', [ 'ngMaterial' ] );

